.form-inline
  - if user_signed_in?
    = form_for @task, :html => { :class => 'form-horizontal' } do |f|
      .control-group
        .controls
          = f.text_field :title, class: 'text_field', placeholder: 'Title'
      .control-group
        .controls
          = f.select :project_id, @projects_selector, class: 'select_field', include_blank: "Please select a project"
      .control-group
        .controls
          = f.text_field :minutes, class: 'text_field', placeholder: 'Minutes'
      .control-group
        .controls
          = f.text_field :url, class: 'text_field', placeholder: 'URL'
      .control-group
        .controls
          = f.text_area :content, class: 'text_area', rows: '7'
      .form-actions
        = f.submit nil, :class => 'btn btn-primary'
        = link_to t('.cancel', :default => t("helpers.links.cancel")), tasks_path, :class => 'btn'
