.row-fluid
  - model_class = Project
  .page-header
    %h1
      =t '.title', :default => @project.name
    %p= link_to @project.url, @project.url, target: "_blank"

  .form-actions
    = link_to t('.back', :default => t("helpers.links.back")), company_projects_path, :class => 'btn'
    %a.btn{"data-toggle" => "modal", :href => "#addPerson", :role => "button"} Add person to project

.row-fluid
  .span8
    %h4 Reports for this project
    %table.table.table-hover
      %thead
        %tr
          %th= model_class.human_attribute_name(:title)
          %th= Time
          %th= User
      %tbody
        - for report in @reports
          %tr
            %td= link_to report.title, task_report_path(report.id)
            %td= min_show report.minutes
            %td= link_to report.user.name, user_path(report.user)
  .span3
    %p
      %strong Total time on this project:
      %br
      %span.b= @hours
      hours
      %span.b= @minutes
      minutes

#addPerson.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3#myModalLabel
      Add person to #{@project.name} project
      #flash
    = form_for :participant, url: project_participants_path(@project.id), :html => { :class => 'form-horizontal' } do |f|
      .modal-body
        %p
          = f.email_field :email, placeholder: "User Email"
        %p
          = f.select :role_id, [['Manager', Participant::Role::MANAGER],
            ['Agent', Participant::Role::AGENT],
            ['Worker', Participant::Role::WORKER]]
          = hidden_field_tag :project_id, @project.id
      .modal-footer
        = f.submit "Add participant", :class => 'btn btn-primary'


  / = link_to t('.edit', :default => t("helpers.links.edit")), edit_project_path(@project), :class => 'btn'
  / = link_to t('.destroy', :default => t("helpers.links.destroy")), project_path(@project), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
