.row-fluid
  - model_class = Project
  .page-header
    %h1
      =t '.title', :default => @project.name
    %p= link_to @project.url, @project.url, target: "_blank"

.row-fluid
  %h4 Workers in this project:
  .well
    - for participant in @project.participants
      %span
        = participant.user.name
        = link_to '<i class="icon-remove"></i>'.html_safe, company_project_participant_path(@company, @project, participant), method: :delete, data: { confirm: 'Are you sure you want to remove participant from this project?' }
        %span
          |
    %a.btn.btn-mini{"data-toggle" => "modal", :href => "#addPerson", :role => "button"} Add more workers to project

.row-fluid
  .span8
    %h4 Reports for this project
    %table.table.table-hover
      %thead
        %tr
          %th= model_class.human_attribute_name(:title)
          %th= Time
          %th= User
      %tbody
        - for report in @reports
          %tr
            %td= link_to report.title, task_report_path(report.id)
            %td= min_show report.minutes
            %td= link_to report.user.name, user_path(report.user)
  .span3
    %p
      %strong Total time on this project:
      %br
      %span.b= @hours
      hours
      %span.b= @minutes
      minutes

#addPerson.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3#myModalLabel
      Add person to #{@project.name} project
      #flash
    = form_for :participant, url: company_project_participants_path(@company, @project.id), :html => { :class => 'form-horizontal' } do |f|
      .modal-body
        %p
          = f.collection_select :worker_id, @workers, :id, :user_name, prompt: "Select user"
        %p
          = f.select :role_id, [['Manager', Participant::Role::MANAGER],
            ['Agent', Participant::Role::AGENT],
            ['Worker', Participant::Role::WORKER]]
          = hidden_field_tag :project_id, @project.id
      .modal-footer
        = f.submit "Add participant", class: 'btn btn-primary'


  / = link_to t('.edit', :default => t("helpers.links.edit")), edit_project_path(@project), :class => 'btn'
  / = link_to t('.destroy', :default => t("helpers.links.destroy")), project_path(@project), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
