= form_for @company, :html => { :class => 'form-horizontal' } do |f|
  .row-fluid
    .span6
      .control-group
        = f.label :name, class: 'control-label'
        .controls
          = f.text_field :name, class: 'text_field'
  .row-fluid
    .span12
      .form-actions
        = f.submit nil, class: 'btn btn-primary'
        = link_to t('.cancel', default: t("helpers.links.cancel")), companies_path, class: 'btn'
