.form-inline
  = form_for @task_report, :html => { :class => 'form-horizontal' } do |f|
    - if @task_report.errors.any?
      .alert.alert-error
        %h2
          = pluralize(@task_report.errors.count, "error")
          prohibited this task from being saved:
        %ul
          - @task_report.errors.full_messages.each do |msg|
            %li= msg
    .control-group
      .controls
        = f.text_field :reported_for, class: "input-xxlarge", placeholder: 'Choose a date'
    .control-group
      .controls
        = f.collection_select(:project_id, Project.all(order: "name ASC"), :id, :name,  {prompt: "Choose a project"}, {class: "span6"})
    .control-group
      .controls
        = f.text_field :minutes, class: "input-xxlarge", placeholder: 'Task duration in minutes'
    .control-group
      .controls
        = f.text_field :title, class: "input-xxlarge", placeholder: 'Task title'
    .control-group
      .controls
        = f.text_field :url, class: "input-xxlarge", placeholder: 'URL for details'
    .control-group
      .controls
        = f.text_area :content, class: "input-xxlarge", rows: '10'
    .form-actions
      = f.submit nil, :class => 'btn btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), :back, :class => 'btn'
