%h2 Filtered Task Reports

.row
  Date
  %span.b= @page.start.to_s :db
  and
  %span.b= @page.end.to_s :db

- if @page.project_filter
  .row
    Project:
    %b= @page.project.name

- if @page.user_filter
  .row
    User:
    %b= @page.user.name

.row
  = link_to "Prev Month", params.update(m: @page.prev_month.month, y: @page.prev_month.year)
  = form_tag({}, method: :get) do

    - if @page.project_filter
      = hidden_field_tag :project_id, @page.project.id

    - if @page.user_filter
      = hidden_field_tag :user_id, @page.user.id
    .controls
      = select_month @page.start, {:add_month_numbers => true}, name: 'm', class: 'top'
      = select_year @page.start, {}, name: 'y', class: 'top'
    .controls
      = submit_tag "Show", class: 'btn btn-primary'

.row.formats
  Format:
  = link_to "CSV", filter_task_reports_path(@page.filters.merge(format: :csv))

.row
  %b Total
  = min_show @page.total_minutes

%table.table.table-hover.center
  %thead
    %tr
      %th Date
      %th Duration
      - unless @page.project_filter
        %th= Project
      - unless @page.user_filter
        %th User
      %th(class='long_str') Task
      %th
  %tbody
    - @page.task_reports.each do |task_report|
      %tr
        %td(class='date')= l task_report.reported_for, format: '%d %b'
        %td(class='number')= min_show task_report.minutes
        - unless @page.user_filter
          %td= task_report.user.name
        - unless @page.project_filter
          %td(class='short_str')= link_to task_report.project.name, project_path(task_report.project)
        %td= link_to task_report.title, task_report_path(task_report)
