- model_class = TaskReport
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize
  = link_to t('.new', :default => t("helpers.links.new")), new_task_report_path, :class => 'btn btn-primary'
%p
  Total
  %span.b= @hours
  hours
  %span.b= @minutes
  minutes

%table.table.table-hover.center
  %thead
    %tr
      %th Date
      %th
        Duration
        %span.small (minutes)
      %th= model_class.human_attribute_name(:project_id)
      %th(class='long_str') Task
      %th
  %tbody
    - @task_reports.each do |task_report|
      %tr
        %td(class='date')= l task_report.reported_for, format: '%d %b'
        %td(class='number')= task_report.minutes
        %td(class='short_str')= link_to task_report.project.name, project_path(task_report.project)
        %td= link_to task_report.title, task_report_path(task_report)
        %td
          - if user_signed_in?
            = link_to t('.edit', :default => t("helpers.links.edit")), edit_task_report_path(task_report), :class => 'btn btn-mini'
            = link_to t('.destroy', :default => t("helpers.links.destroy")), task_report_path(task_report), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'
