- model_class = TaskReport
.page-header
  %h2
    %span
      = @task_report.title
  %small
    = l @task_report.reported_for, format: :long
    for project
    = link_to @task_report.project.name, project_path(@task_report.project)
    time:
    = @task_report.minutes
    minutes
%p
  %strong= model_class.human_attribute_name(:title) + ':'
  %br
  = @task_report.title
%p
  %strong= model_class.human_attribute_name(:content) + ':'
  %br
  %pre
    = @task_report.content
%p
  %strong= model_class.human_attribute_name(:url) + ':'
  %br
  = link_to @task_report.url, @task_report.url, target: "_blank"
%p
  %strong= model_class.human_attribute_name(:minutes) + ':'
  %br
  = @task_report.minutes

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), task_reports_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_task_report_path(@task_report), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), task_report_path(@task_report), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
