.page-header
  %h1 Projects Summary
.row
  = form_tag({}, method: :get) do
    .controls
      = select_tag 'p', options_from_collection_for_select(@form.all_projects, :id, :name, @form.selected_project_ids),
        :multiple => true, size: 7, class: 'span3'
      = select_month @form.start_date, {:add_month_numbers => true}, name: 'm', class: 'top'
      = select_year @form.start_date, {}, name: 'y', class: 'top'
    .controls
      = submit_tag "Show", class: 'btn btn-primary'

.row-fluid
  =link_to "PDF", url_for(params.merge(format: "pdf")), class: 'pull-right'

.row
  %table.table.table-hover.center
    %thead
      %tr
        %th Project
        %th Worker
        %th Total Hours
        %th Hourly Rate
        %th Total
    %tbody
      - @report.projects_summary.each do |project_id, stats|
        %tr
          %td(colspan=5)
            %b= @report.project_name(project_id)
        - stats.each do |row|
          %tr
            %td
            %td= row[0]
            %td(class='number')= row[1]
            %td(class='number')= row[2]
            %td(class='number')= row[3]
        %tr
          %td
          %td
          %td
          %td
          %td(class='number')
            %b= @report.project_amount(project_id)
      %tr
        %td
        %td
        %td
        %td
        %td(class='number')
          %b(style="color:red")= @report.total_amount.round(2)
